{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": true,
      "tsx": true,
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  }
}